#header {
  height: 64px;
  background-color: black;
}
html,
body {
  height: 100%;
}
#body {
  height: 100%;
  background-color: blue;
  width: 1024px;
  margin: 0 auto;
  /* 자식이 부모를 기준으로 가운데 정렬 */
}
#footer {
  height: 200px;
  background-color: red;
}
#banner {
  height: 300px;
  background-color: yellow;
}
